{% extends 'base.j2'%}
{%block title%}Welcome Back, {{user.username}}{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-lg-6 text-left">
            <h1 class="display-3">Welcome Back, {{user.username}}</h1>
        </div>
        <div class="col-lg-6 text-center">
            <h3 class="display-3">Your Info:</h3>
            <p><b>Username:</b> {{user.username}}</p>
            <p><b>Email:</b> {{user.email}}</p>
            <p><b>First Name:</b> {{user.first_name}}</p>
            <p><b>Last Name:</b> {{user.last_name}}</p>
        </div>
        <div class="col-lg-12 text-center">
            <h3 class="display-3">Your Feedback:</h3>
            <ul class="d-flex justify-content-center flex-wrap">
                {% for feedback in user.feedback %}
                    <li style="list-style-type: none">
                        <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{feedback.title}}</h5>
                            <p class="card-text">{{feedback.content}}</p>
                               <form>
                                <button type='submit' formaction="/feedback/{{feedback.id}}/update" class="btn-secondary" formmethod='get'>Edit Feedback</button>
                                <button type='submit' formaction="/feedback/{{feedback.id}}/delete" class="btn-danger" formmethod='post'>Delete Feedback</button>
                             </form>
                        </div>
                        </div>
                    </li>
                {%endfor%}
            </ul>
        </div> 
        <div class="col-lg-12 text-center"> 
        {% if session['user_id'] == user.username %}
            <form>
                <button type='submit' formaction="/users/{{user.username}}/feedback/add" class="btn-secondary" formmethod='get'>Add Feedback</button>
                <button type='submit' formaction="/users/{{user.username}}/delete" class="btn-danger" formmethod='post'>Delete Account</button>
            </form>
        {% endif %}
        </div>
    </div>
</div>
{%endblock%}